.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

#composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
#/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

.env

upload/eClaimsDoc
upload/CF4Docs
upload/
assets/img/hospital_logo.png

node_modules/

frontend/
application/controllers/Encryptor.php
application/controllers/ManualEncryptor.php
assets/scripts/eclaims
assets/scripts/appointment
webpack.mix.js
webpack.config.js
vetur.config.js
package.json
package-lock.json
application/libraries/Obfuscator.php

application/ci_sessions/
ci_sessions/

application/ci_session/
ci_session/

assets/patient_photo/*
assets/patient_photo/!.gitkeep
